body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(to right, white , black );

}

.main{
    margin-left: 25%; 
}
h1{
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: center;
}
.login-form{
    padding: 10%;
    margin-top: 30%;
    background-color: rgb(119, 114, 114);
    border-radius: 30px;
}
.login-form input{
    border-style: none;
    /* background-color: transparent; */
    opacity: 0.7;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

@media (max-width: 500px) { .main{margin-left: 0%;} }